<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <appSettings>
    <add key="LocalDbInstanceName" value="SampleDbProjectTest"/>
    <add key="LocalDbInstanceVersion" value="12.0"/>
    <add key="DatabaseName" value="Test"/>
    <add key="ConnectionStringBase" value="Data Source=(localdb)\{0};Initial Catalog={1};Integrated Security=True;Persist Security Info=False;Pooling=False;"/>

    <add key="DatabaseProjectFile" value="..\\..\\..\\SampleDbProject\\SampleDbProject.sqlproj"/>
    <add key="DatabaseProjectConfiguration" value="Debug"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
